<!DOCTYPE html>
<html lang="en">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>SMART RENTAL</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">



  <!-- styles -->
  <link href="assets/css/bootstrap.css" rel="stylesheet">
  <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="assets/css/docs.css" rel="stylesheet">
  <link href="assets/js/google-code-prettify/prettify.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300|Open+Sans:400,300,300italic,400italic" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/color/success.css" rel="stylesheet">


  <!-- Bootstrap Date-Picker Plugin -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

  <title>Jquery - Bootstrap Daterangepicker Example</title>
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css" />
  <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

  <!-- fav and touch icons -->
  <link rel="shortcut icon" href="assets/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

  <meta charset="utf-8" />
 <title>Untitled Document</title>
 <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
 <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

 <title>Jquery - Bootstrap Daterangepicker Example</title>
     <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
     <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
     <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css" />
     <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
     <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />



</head>

<body data-spy="scroll" data-target=".bs-docs-sidebar">

  <header>
    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <!-- logo -->
          <a class="brand logo" href="index.html">
						<img src="assets/img/logo.png" alt="" />
				  </a>
          <!-- end logo -->

          <!-- top menu -->
          <div>
            <nav>
              <ul class="nav topnav">
                <li class="dropdown success">
                  <a href="/"><i class="icon-home icon-white"></i> Home</a>
                </li>
                <li class="dropdown primary">
                  <a href="#"><i class="icon-star icon-white"></i> Features</a>
                  <ul class="dropdown-menu">
                    <li><a href="/linkPdf">Demo Scripts</a></li>
                    <li class="dropdown"><a href="#">3rd level</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
          <!-- end menu -->
        </div>
      </div>
    </div>
  </header>

  <!-- Subhead
================================================== -->
  <section id="subintro">
    <div class="jumbotron subhead" id="overview">
      <div class="container">
        <div class="row">
          <div class="span8">
            <h3><i class="m-icon-big-swapright m-icon-white"></i>Showcase 3</h3>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="maincontent">
    <div class="container">
      <div class="row">
        <div class="span4">
          <aside>
            <div class="widget">
              <h6>SHOWCASE DETAILS</h6><br>
              <ul class="">
                <li><label>Name:</label>Live Airport</li>
                <li><label>Owner:</label>Benon</li>
              </ul>
            </div>
          </aside>
        </div>
        <div class="span8">
          <article class="blog-post">
            <div class="tooltip-demo headline">
              <h4>AR CONNECTED FRIGDE</h4>

            </div>
            <div class="clearfix"></div>
            <div class="well">
              <a href="#"><img src="assets/img/dummies/big33.jpg" alt="" /></a>
              <h5>Description : </h5>
              <p>

SAP Connected Goods is a cloud based solution designed to maximise the value of mass market devices through central monitoring and control, combined with back-end integration .Mass market devices includes coolers, vending machines, containers ,constructions tools ,healthcare equipment ,and more .

Benefits:
Reduce equipment lost or theft by monitoring device locations across all known SAP business partners.

Increase device utilisation and revenue generations time (“sale days”) by monitoring its operational status and alerting on any downtime.

            </div>
          <article>


          <div class="comment-post">
            {{msg}}
            <h4>Fill in your details to book the showcase</h4>
            <form action="send" method="post">

              <div class="row">
                <div class="span3">
                  <label>I Number <span>*</span></label>
                  <input type="text" name="inumber"class="input-block-level" placeholder="inumber" />
                </div>
                <div class="span3">
                  <label>Name<span>*</span></label>
                  <input type="text" name="name"class="input-block-level" placeholder="name" />
                </div>
                <div class="span3">
                  <label>email</label>
                  <input type="text" name="email"class="input-block-level" placeholder="email" />
                </div>
                <div class="span3">
                  <input type="text" name="date" class="daterange" />
                    <script type="text/javascript">
                    $('.daterange').daterangepicker();
                    </script>
               </div>
                <div class="span8">
                  <label>Comment <span>*</span></label>
                  <textarea rows="9" name="comments" class="input-block-level" placeholder="Your comment">CONNECTED FRIGDE:</textarea>
                  <button type="submit">Book Showcase</button>
                </div>

              </div>

            </form>
          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- Footer
 ================================================== -->
  <footer class="footer">
  <div class="verybottom">
      <div class="container">
        <div class="row">
          <div class="span6">
            <p>&copy;The Lab - All right reserved</p>
          </div>
          <div class="span6">
            <div class="pull-right">
              <div class="credits">
                <!--
                -->
                Designed by <a href="">PCIL</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </footer>

  <script src="assets/js/jquery-1.8.2.min.js"></script>
  <script src="assets/js/jquery.easing.1.3.js"></script>
  <script src="assets/js/google-code-prettify/prettify.js"></script>
  <script src="assets/js/modernizr.js"></script>
  <script src="assets/js/bootstrap.js"></script>
  <script src="assets/js/jquery.elastislide.js"></script>
  <script src="assets/js/jquery.prettyPhoto.js"></script>
  <script src="assets/js/application.js"></script>
  <script src="assets/js/portfolio/jquery.quicksand.js"></script>
  <script src="assets/js/portfolio/setting.js"></script>
  <script src="assets/js/hover/jquery-hover-effect.js"></script>
  <script src="assets/js/hover/setting.js"></script>

  <!-- Template Custom JavaScript File -->
  <script src="assets/js/custom.js"></script>

</body>

</html>
